<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/addproduct.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap" rel="stylesheet">


    <title>Add New Product</title>
</head>

<body>

    <!-- <section id="sidebar">
        <div class="sidebar-brand">
            <h2><i class="fa fa-desktop"></i> <span>Fashion Bucket</span></h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li><a href="#"><i class="fa fa-desktop"></i> <span>Dashboard</span></a></li>
                <li><a href="#"><i class="fa fa-users"></i> <span>Customers</span></a></li>
                <li><a href="#"><i class="fa fa-file"></i> <span>Products</span></a></li>
                <li><a href="#"><i class="fa fa-file-pdf-o"></i> <span>Orders</span></a></li>
                <li><a href="#"><i class="fa fa-money"></i> <span>Income</span></a></li>
                <li><a href="#"><i class="fa fa-user"></i> <span>Account</span></a></li>
                <li><a href="#"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
            </ul>
        </div>
    </section> -->
    <div class="card-section">
        <div class="addcard">
            <h1>Add New Product</h1>
            <h4>Product Details</h4>
            <hr/>
            <div class="col1">
                <div class="pro-detail-section">
                    <div class="section">
                        <p>Product Name</p>
                        <input type="text" placeholder="Enter product name">
                    </div>
                    <div class="section">
                        <p>Product Category</p>
                        <input type="text" placeholder="Enter product category">
                    </div>
                </div>
                <div class="pro-detail-section">
                    <div class="section">
                        <p>Product Subcategory</p>
                        <input type="text" placeholder="Enter product subcategory">
                    </div>
                    <div class="section">
                        <p>Product Price</p>
                        <input type="text" placeholder="Enter product price">
                    </div>
                </div>
            </div>

            <h4>Product Images</h4>
            <hr/>
            <div class="col2">
                <div class="imginput">
                    <div class="pro-detail-section">
                        <div class="section">
                            <p>Image 1</p>
                            <input type="file" name="" id="">
                        </div>
                        <div class="section">
                            <p>Image 2</p>
                            <input type="file" name="" id="">
                        </div>
                    </div>
                    <div class="pro-detail-section">
                        <div class="section">
                            <p>Image 3</p>
                            <input type="file" name="" id="">
                        </div>
                        <div class="section">
                            <p>Image 4</p>
                            <input type="file" name="" id="">
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="btn-upload">Upload Product</a>
        </div>
    </div>
</body>

</html>